@import "tailwindcss";

@theme {
  --font-palanquin: "Palanquin", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --color-primary: #ECEEFF;
  --color-coral-red: #FF6452;
  --color-slate-gray: #36404A;
  --color-pale-blue: #F5F6FF;
  --color-white-400: rgba(255, 255, 255, 0.80);
  --color-parchment:#EDE8D0;
  --color-golden:#e8bd11;
  --color-green:#2E6F40;

  --text-xs: 12px;
  --leading-xs: 16px;
  --text-sm: 14px;
  --leading-sm: 20px;
  --text-base: 16px;
  --leading-base: 19.5px;
  --text-lg: 18px;
  --leading-lg: 21.94px;
  --text-xl: 20px;
  --leading-xl: 24.38px;
  --text-2xl: 24px;
  --leading-2xl: 29.26px;
  --text-3xl: 36px;
  --leading-3xl: 50px;
  --text-4xl: 48px;
  --leading-4xl: 58px;
  --text-8xl: 96px;
  --leading-8xl: 106px;

  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

  --breakpoint-wide: 1440px;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.input {
  font-family: 'Palanquin', sans-serif;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6B7280; /* slate-gray */
  border: 1px solid #6B7280;
  border-radius: 9999px; /* full rounded */
  outline: none;
}

/* Padding Utilities */
.padding {
  padding: 3rem 4rem;
}

.padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}
.padding-h {
  padding-left: 5rem;
  padding-right: 4rem;
}

.padding-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-l {
  padding-left: 2rem;
}

.padding-r {
  padding-right: 4rem;
}

.padding-t {
  padding-top: 1.5rem;
}

.padding-b {
  padding-bottom: 1.5rem;
}
.padding-bot {
  padding-bottom: 7rem;
}

